<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Emv_Core>
            <version>0.3.0</version>
        </Emv_Core>
    </modules>
    <global>
        <blocks>
            <emvcore>
                <class>Emv_Core_Block</class>
            </emvcore>
        </blocks>
        <helpers>
            <emvcore>
                <class>Emv_Core_Helper</class>
            </emvcore>
        </helpers>
        <models>
            <emvcore>
                <class>Emv_Core_Model</class>
                <resourceModel>emvcore_mysql4</resourceModel>
            </emvcore>
            <emvcore_mysql4>
                <class>Emv_Core_Model_Mysql4</class>
                <entities>
                    <account>
                        <table>emv_account</table>
                    </account>
                    <dataprocessing_process>
                        <table>emv_dataprocessing_process</table>
                    </dataprocessing_process>
                </entities>
            </emvcore_mysql4>
        </models>
        <resources>
            <emvcore_setup>
                <setup>
                    <module>Emv_Core</module>
                    <class>Emv_Core_Model_Resource_Setup</class>
                </setup>
            </emvcore_setup>
        </resources>
        <emv>
            <wsdl_list>
                <rest_notification_service>http://api.notificationmessaging.com/NMSXML</rest_notification_service>
            </wsdl_list>
        </emv>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Emv_Core>
                    <files>
                        <default>Emv_Core.csv</default>
                    </files>
                </Emv_Core>
            </modules>
        </translate>
        <layout>
            <updates>
                <emvcore>
                    <file>smartfocus/core.xml</file>
                </emvcore>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <emvcore>
                <use>admin</use>
                <args>
                    <module>Emv_Core_Adminhtml</module>
                    <frontName>emv_core</frontName>
                </args>
            </emvcore>
        </routers>
    </admin>
</config>