<config>
    <modules>
        <Emv_CartAlert>
            <version>0.5.2</version>
        </Emv_CartAlert>
    </modules>
    <global>
        <models>
            <abandonment>
                <class>Emv_CartAlert_Model</class>
                <resourceModel>abandonment_mysql4</resourceModel>
            </abandonment>
            <abandonment_mysql4>
                <class>Emv_CartAlert_Model_Mysql4</class>
                <entities>
                    <abandonment>
                        <table>abandonment</table>
                    </abandonment>
                    <stats>
                        <table>stats_email_abandonment_sent</table>
                    </stats>
                    <order_flag>
                        <table>emv_order_flag</table>
                    </order_flag>
                </entities>
            </abandonment_mysql4>
        </models>
        <helpers>
            <abandonment>
                <class>Emv_CartAlert_Helper</class>
            </abandonment>
        </helpers>
        <blocks>
            <abandonment>
                <class>Emv_CartAlert_Block</class>
            </abandonment>
        </blocks>
        <resources>
            <abandonment_setup>
                <setup>
                    <module>Emv_CartAlert</module>
                    <class>Emv_CartAlert_Model_Resource_Setup</class>
                </setup>
            </abandonment_setup>
        </resources>
        <template>
            <email>
                <abandonment_first_alert_config_template translate="label" module="abandonment">
                    <label>Abandoned Cart 1</label>
                    <file>emailvision/abandonment/template1.html</file>
                    <type>html</type>
                </abandonment_first_alert_config_template>
                <abandonment_second_alert_config_template translate="label" module="abandonment">
                    <label>Abandoned Cart 2</label>
                    <file>emailvision/abandonment/template2.html</file>
                    <type>html</type>
                </abandonment_second_alert_config_template>
                <abandonment_third_alert_config_template translate="label" module="abandonment">
                    <label>Abandoned Cart 3</label>
                    <file>emailvision/abandonment/template3.html</file>
                    <type>html</type>
                </abandonment_third_alert_config_template>
            </email>
        </template>
        <events>
            <customer_save_after>
                <observers>
                    <abandonment>
                        <class>abandonment/observer</class>
                        <method>handleCustomerSaveAfter</method>
                    </abandonment>
                </observers>
            </customer_save_after>
            <sales_order_save_after>
                <observers>
                    <abandonment>
                        <class>abandonment/observer</class>
                        <method>handleOrderSaveAfter</method>
                    </abandonment>
                </observers>
            </sales_order_save_after>
        </events>
        <layout>
            <updates>
                <abandonment module="Emv_CartAlert">
                    <file>emailvision/abandonment.xml</file>
                </abandonment>
            </updates>
        </layout>
    </global>
    <frontend>
        <routers>
            <abandonment>
                <use>standard</use>
                <args>
                    <module>Emv_CartAlert</module>
                    <frontName>abandonment</frontName>
                </args>
            </abandonment>
        </routers>
        <layout>
            <updates>
                <abandonment module="Emv_CartAlert">
                    <file>emailvision/abandonment.xml</file>
                </abandonment>
            </updates>
        </layout>
        <translate>
            <modules>
                <Emv_CartAlert>
                    <files>
                        <default>Emv_CartAlert.csv</default>
                    </files>
                </Emv_CartAlert>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Emv_CartAlert>
                    <files>
                        <default>Emv_CartAlert.csv</default>
                    </files>
                </Emv_CartAlert>
            </modules>
        </translate>
    </adminhtml>
    <crontab>
        <jobs>
            <emailvision_process_abandoned_carts>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>abandonment/observer::processAbandonedCarts</model>
                </run>
            </emailvision_process_abandoned_carts>
        </jobs>
    </crontab>
    <default>
        <abandonment>
            <general>
                <image_size>256</image_size>
                <length>8</length>
                <format>Alphanumeric</format>
                <dash>4</dash>
            </general>
            <first_alert_config>
                <template>abandonment_first_alert_config_template</template>
            </first_alert_config>
            <second_alert_config>
                <template>abandonment_second_alert_config_template</template>
            </second_alert_config>
            <third_alert_config>
                <template>abandonment_third_alert_config_template</template>
            </third_alert_config>
        </abandonment>
    </default>
</config>
