<?xml version="1.0" encoding="UTF-8"?>
<config>
    <sections>
        <abandonment translate="label" module="abandonment">
            <label>Abandoned Cart Reminders</label>
            <tab>emailvision</tab>
            <frontend_type>text</frontend_type>
            <sort_order>50</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <extension_status translate="label">
                    <label>Plugin Status</label>
                    <frontend_model>emvcore/adminhtml_config_extensionStatus</frontend_model>
                    <sort_order>0</sort_order>
                    <frontend_type>text</frontend_type>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                </extension_status>
                <general translate="label" module="abandonment">
                    <label>General</label>
                    <expanded>0</expanded>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <test_mode translate="label" module="abandonment">
                            <label>Enable test mode (the calculation will be in minutes)</label>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <frontend_type>select</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </test_mode>
                        <limit translate="label" module="abandonment">
                            <label>Maximum Abandoned Carts per One Run</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </limit>
                        <lifetime translate="label" module="abandonment">
                            <label>Cart Lifetime (in hours)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </lifetime>
                        <email_identity translate="label" module="abandonment">
                            <label>Email Sender</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_email_identity</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </email_identity>
                        <image_size translate="label" module="abandonment">
                            <label>Image Size</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <frontend_class>validate-digits</frontend_class>
                        </image_size>
                        <cart_rule translate="label comment" module="abandonment">
                            <label>Shopping Cart Prices Rule</label>
                            <frontend_model>abandonment/adminhtml_system_config_promoRule</frontend_model>
                            <sort_order>12</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </cart_rule>
                        <length translate="label comment" module="abandonment">
                            <label>Coupon Code Length</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Excluding prefix, suffix and separators.</comment>
                            <frontend_class>validate-digits</frontend_class>
                        </length>
                        <format translate="label" module="abandonment">
                            <label>Coupon Code Format</label>
                            <frontend_type>select</frontend_type>
                            <source_model>salesrule/system_config_source_coupon_format</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </format>
                        <prefix translate="label" module="abandonment">
                            <label>Coupon Code Prefix</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </prefix>
                        <suffix translate="label" module="abandonment">
                            <label>Coupon Code Suffix</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </suffix>
                        <dash translate="label comment" module="abandonment">
                            <label>Dash Every X Characters For Coupon Code</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>If empty no separation.</comment>
                            <frontend_class>validate-digits</frontend_class>
                        </dash>
                    </fields>
                </general>
                <first_alert_config translate="label" module="abandonment">
                    <label>First Reminder Configuration</label>
                    <expanded>0</expanded>
                    <frontend_type>text</frontend_type>
                    <sort_order>5</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label" module="abandonment">
                            <label>First Email Reminder Enable</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <delay translate="label" module="abandonment">
                            <label>First Email Reminder Delay (in hours)</label>
                            <frontend_type>text</frontend_type>
                            <comment>By default, the calculation will be done in hours. If test mode enabled, it will be in minutes instead.</comment>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </delay>
                        <template translate="label" module="abandonment">
                            <label>First Email Reminder Template</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_email_template</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </template>
                    </fields>
                </first_alert_config>
                <second_alert_config translate="label" module="abandonment">
                    <label>Second Reminder Configuration</label>
                    <expanded>0</expanded>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label" module="abandonment">
                            <label>Second Email Reminder Enable</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <delay translate="label" module="abandonment">
                            <label>Second Email Reminder Delay (in hours)</label>
                            <frontend_type>text</frontend_type>
                            <comment>By default, the calculation will be done in hours. If test mode enabled, it will be in minutes instead.</comment>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </delay>
                        <template translate="label" module="abandonment">
                            <label>Second Email Reminder Template</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_email_template</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </template>
                    </fields>
                </second_alert_config>
                <third_alert_config translate="label" module="abandonment">
                    <label>Third Reminder Configuration</label>
                    <expanded>0</expanded>
                    <frontend_type>text</frontend_type>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label" module="abandonment">
                            <label>Third Email Reminder Enable</label>
                            <frontend_type>select</frontend_type>
                            <comment>By default, the calculation will be done in hours. If test mode enabled, it will be in minutes instead.</comment>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <delay translate="label" module="abandonment">
                            <label>Third Email Reminder Delay (in hours)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </delay>
                        <template translate="label" module="abandonment">
                            <label>Third Email Reminder Template</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_email_template</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </template>
                    </fields>
                </third_alert_config>
            </groups>
        </abandonment>
    </sections>
</config>
