<config>
    <modules>
        <Emv_Report>
            <version>0.1.0</version>
        </Emv_Report>
    </modules>
    <global>
        <helpers>
            <abandonment_report>
                <class>Emv_Report_Helper</class>
            </abandonment_report>
        </helpers>
        <blocks>
            <abandonment_report>
                <class>Emv_Report_Block</class>
            </abandonment_report>
        </blocks>
    </global>
    <admin>
        <routers>
            <abandonment_report>
                <use>admin</use>
                <args>
                    <module>Emv_Report_Adminhtml</module>
                    <frontName>emv_report</frontName>
                </args>
            </abandonment_report>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <abandonment_report>
                    <file>emailvision/abandonment_report.xml</file>
                </abandonment_report>
            </updates>
        </layout>
        <translate>
            <modules>
                <Emv_Report>
                    <files>
                        <default>Emv_Report.csv</default>
                    </files>
                </Emv_Report>
            </modules>
        </translate>
    </adminhtml>
</config>
