<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Emv_Emt>
            <version>0.4.1</version>
        </Emv_Emt>
    </modules>
    <global>
        <blocks>
            <emvemt>
                <class>Emv_Emt_Block</class>
            </emvemt>
        </blocks>
        <helpers>
            <emvemt>
                <class>Emv_Emt_Helper</class>
            </emvemt>
        </helpers>
        <models>
            <core>
                <rewrite>
                    <email_template>Emv_Emt_Model_Mage_Core_Email_Template</email_template>
                </rewrite>
            </core>
            <emvemt>
                <class>Emv_Emt_Model</class>
                <resourceModel>emvemt_mysql4</resourceModel>
            </emvemt>
            <emvemt_mysql4>
                <class>Emv_Emt_Model_Mysql4</class>
                <entities>
                    <emt>
                        <table>emv_emt</table>
                    </emt>
                    <resending_queue_message>
                        <table>emv_queue_message</table>
                    </resending_queue_message>
                    <log>
                        <table>emv_sending_log</table>
                    </log>
                    <attribute>
                        <table>emv_emt_attribute_mapping</table>
                    </attribute>
                    <mailmode>
                        <table>emv_emt_send_mail_mode</table>
                    </mailmode>
                </entities>
            </emvemt_mysql4>
        </models>
        <resources>
            <emvemt_setup>
                <setup>
                    <module>Emv_Emt</module>
                    <class>Emv_Emt_Model_Resource_Setup</class>
                </setup>
            </emvemt_setup>
        </resources>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Emv_Emt>
                    <files>
                        <default>Emv_Emt.csv</default>
                    </files>
                </Emv_Emt>
            </modules>
        </translate>
    </adminhtml>
    <admin>
        <routers>
            <emvemt>
                <use>admin</use>
                <args>
                    <module>Emv_Emt_Adminhtml</module>
                    <frontName>emv_emt</frontName>
                </args>
            </emvemt>
        </routers>
    </admin>
    <crontab>
        <jobs>
            <emailvision_process_error_sending_emails>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>emvemt/cron::processErrorSendingEmails</model>
                </run>
            </emailvision_process_error_sending_emails>
        </jobs>
    </crontab>
    <default>
        <emvemt>
            <resending_mechanism>
                <enabled>0</enabled>
                <first_delay>5</first_delay>
                <second_delay>60</second_delay>
                <third_delay>120</third_delay>
                <fourth_delay>240</fourth_delay>
            </resending_mechanism>
        </emvemt>
    </default>
</config>